.infor-title-container {
  margin-bottom: 1em;
  position: relative;
  display: block;
}

.infor-title {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding-bottom: 10px; 
  text-align: left;
  position: relative;
  margin-left: 0; 
}

.infor-title h6 {
  margin-right: 187px; 
}

.infor-title svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
  color: #2ea366; 
  cursor: pointer; 
}


.infor-title {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  padding-bottom: 10px; 
  text-align: left;
  position: relative;
  margin-left: 20px;
}

.infor-title svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
  color: #2ea366; 
  margin-left: 0; 
}

  
  .infor-title::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; 
    height: 1px; 
    background-color: #121312; 
    width: 350px;
  }

  .info-accounts{
    margin-top: 2px;
    margin-left: -1px;
    margin-bottom: 1px;
  }

  