/* src/components/OTP.css */
.otp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
  }
  
  .otp-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .otp-timer {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
  }
  
  .otp-button {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    background-color: #2EA366;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .otp-button:hover {
    background-color: #279258;
  }  