body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .receive-job-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 auto;
  }
  
  .job-list {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 2rem;
  }
  
  .job-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }
  .job-distance {
    display: flex;
    justify-content: flex-start;
    gap: 0.3rem;
  }
  
  .job-header {
    font-size: 1rem;
    font-weight: bold;
    color: #2ea366;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .job-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .job-location {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .job-icon {
    font-size: 1.2rem;
    color: #2ea366;
  }
  
  .job-text {
    font-size: 0.9rem;
    color: #333;
  }
  
  /* Classes for each job */
  .job-major-rangsit .job-header {
    color: #444444;
  }
  
  .job-bangrak .job-header {
    color: #444444;
  }
  
  .job-pravet .job-header {
    color: #444444;
  }  