.about-title-container {
  margin-bottom: 1em;
  margin-top: 1em;
  position: relative;
  display: block;
}

.about-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  text-align: left;
  position: relative;
  width: 350px;
  margin-left: 20px;
}

.about-title h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #121312;
  line-height: 1.5;
}

.about-title svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
  color: #2ea366; 
  cursor: pointer;
  margin-left: 10px; 
}

.about-title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #121312;
  width: 100%;
}

.aboutsilde-container{
  margin-left: 20px;
  margin-bottom: 20px;
}